{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="all" onload="this.media='all'">
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>

<div class="{% if section.settings.show_footer_top_bg_img %} footer__content-bg{% endif %} ">
    <div class="container container-{{ section.settings.container }}">
        <div class="halo-row column-{{column}}">
            {% for block in section.blocks %}
                {% if block.type == 'text' %}
                    {% render 'footer-text-column',
                      block: block,
                      block__text_first: block__text_first,
                      social_block: social_block,
                      text_align: text_align,
                      icon_color: section.settings.footer_top_title_color,
                      address_last: false
                    %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
{
    "name": "as-detils",
    "settings": [
        {
      "type": "select",
      "id": "container",
      "label": "option",
      "default": "1170",
      "options": [
        {
          "value": "1170",
          "label": "option4"
        },
        {
          "value": "1370",
          "label": "option8"
        },
        {
          "value": "1470",
          "label": "option5"
        },
        {
          "value": "1570",
          "label": "option6"
        },
        {
          "value": "1770",
          "label": "t:sections.layout.container.option3"
        },
        {
          "value": "full",
          "label": "t:sections.layout.container.option2"
        }
      ]
    },
        {
            "type": "checkbox",
            "id": "show_footer_top_bg_img",
            "label": "Bg-image",
            "default": false
        },
        {
            "type": "image_picker",
            "id": "footer_top_bg_img",
            "label":"bg-image"
        }
        
        
        ],
        "blocks": [
            {
                "type": "Custome-Blok",
                "name": "Custome-Blok",
                "settings": [
                    {
                    "type": "text",
                    "id": "custom_width",
                    "label": "t:sections.footer.settings.custom_width.label",
                    "info": "t:sections.footer.settings.custom_width.info",
                    "default": "30"
                    },
                    {
                    "id": "heading",
                    "type": "text",
                    "default": "Heading",
                    "label": "t:sections.image-banner.blocks.image.settings.content.label__19"
                    },
                    {
                    "id": "logo",
                    "type": "image_picker",
                    "label": "t:sections.footer.settings.custom_width.image"
                    },
                    {
                    "type": "range",
                    "id": "logo_margin_bottom",
                    "label": "t:sections.footer.blocks.text.settings.logo_margin_bottom",
                    "min": 0,
                    "max": 50,
                    "step": 1,
                    "unit": "t:sections.footer.settings.footer_bottom.pdtop_footer_bottom.unit",
                    "default": 28
                    },
                    {
                    "id": "subtext",
                    "type": "richtext",
                    "default": "<p>Share store details, promotions, or brand content with your customers.</p>",
                    "label": "t:sections.image-banner.blocks.image.settings.content.label__2"
                    },
                    {
                    "type": "paragraph",
                    "content": "t:sections.main_contact.settings.contact_info.label__4"
                    },
                    {
                    "type": "select",
                    "id": "address_icon",
                    "label": "Address Icon",
                    "default": "point_icon",
                    "options": [
                        {
                        "value": "point_icon",
                        "label": "t:icons.address"
                        }
                    ]
                    },
                    {
                    "type": "checkbox",
                    "id": "show_address_icon",
                    "label": "t:icons.show_icon"
                    },
                    {
                    "id": "address_text",
                    "type": "richtext",
                    "label": "t:sections.main_contact.settings.contact_info.label__4"
                    },
                    {
                    "type": "paragraph",
                    "content": "t:sections.store_locator.block.settings.phone"
                    },
                    {
                    "type": "select",
                    "id": "phone_icon",
                    "label": "t:settings_schema.typography.settings.typography.icon",
                    "default": "message_icon",
                    "options": [
                        {
                        "value": "message_icon",
                        "label": "t:icons.message"
                        },
                        {
                        "value": "phone_icon",
                        "label": "t:icons.phone"
                        }
                    ]
                    },
                    {
                    "type": "checkbox",
                    "id": "show_phone_icon",
                    "label": "t:icons.show_icon"
                    },
                    {
                    "id": "phone_text",
                    "type": "richtext",
                    "label": "t:sections.store_locator.block.settings.f_phone"
                    },
                    {
                    "type": "paragraph",
                    "content": "t:settings_schema.notify_me.settings.general.label__2"
                    },
                    {
                    "type": "select",
                    "id": "email_icon",
                    "label": "t:settings_schema.typography.settings.typography.icon",
                    "default": "envelope_icon",
                    "options": [
                        {
                        "value": "envelope_icon",
                        "label": "t:icons.envelope"
                        },
                        {
                        "value": "envelope_outline_icon",
                        "label": "t:icons.envelope_outline"
                        }
                    ]
                    },
                    {
                    "type": "checkbox",
                    "id": "show_email_icon",
                    "label": "t:icons.show_icon"
                    },
                    {
                    "id": "email_text",
                    "type": "richtext",
                    "label": "t:settings_schema.notify_me.settings.general.label__2"
                    },
                    {
                    "type": "paragraph",
                    "content": "t:settings_schema.general.name"
                    },
                    {
                    "type": "range",
                    "id": "icon_size",
                    "label": "t:settings_schema.typography.settings.typography.icon_size",
                    "min": 12,
                    "max": 50,
                    "step": 1,
                    "default": 16,
                    "unit": "px"
                    },
                    {
                    "type": "color",
                    "id": "icon_color",
                    "label": "t:settings_schema.typography.settings.typography.icon_color"
                    },
                    {
                    "type": "range",
                    "id": "content_spacing",
                    "label": "t:sections.spotlight_block.settings.content_spacing",
                    "min": 0,
                    "max": 30,
                    "default": 1,
                    "unit": "px"
                    },
                    {
                    "type": "range",
                    "id": "mg_bottom",
                    "label": "t:sections.footer.blocks.newsletter.settings.newsletter_margin_bottom",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "t:sections.layout.fontsize.fontsize_title.unit",
                    "default": 0
                    },
                    {
                    "type": "header",
                    "content": "t:sections.footer.settings.social_media_link.content",
                    "info": "t:sections.footer.settings.social_media_link.info"
                    },
                    {
                    "id": "social_heading",
                    "type": "text",
                    "label": "t:sections.image-banner.blocks.image.settings.content.label__19",
                    "info": "t:sections.footer.blocks.link_list.settings.heading.info"
                    },
                    {
                    "type": "checkbox",
                    "id": "show_social",
                    "label": "t:sections.footer.settings.social_media_link.show_social",
                    "default": true
                    },
                    {
                    "type": "checkbox",
                    "id": "enable_bg_social",
                    "label": "t:sections.footer.settings.social_media_link.enable_background_social",
                    "default": false
                    },
                    {
                    "type": "range",
                    "id": "social_margin_top",
                    "label": "t:sections.footer.settings.social_media_link.social_margin_top",
                    "min": 0,
                    "max": 50,
                    "step": 1,
                    "unit": "t:sections.footer.settings.footer_bottom.pdtop_footer_bottom.unit",
                    "default": 35
                    },
                    {
                    "type": "range",
                    "id": "social_icon_width",
                    "label": "t:sections.footer.settings.social_media_link.social_width",
                    "min": 0,
                    "max": 50,
                    "step": 1,
                    "unit": "t:sections.footer.settings.footer_bottom.pdtop_footer_bottom.unit",
                    "default": 12
                    },
                    {
                    "type": "range",
                    "id": "social_icon_padding",
                    "label": "t:sections.footer.settings.social_media_link.social_padding",
                    "min": 0,
                    "max": 50,
                    "step": 1,
                    "unit": "t:sections.footer.settings.footer_bottom.pdtop_footer_bottom.unit",
                    "default": 12
                    },
                    {
                    "type": "range",
                    "id": "social_icon_border_width",
                    "label": "t:sections.footer.settings.social_media_link.social_border_width",
                    "min": 0,
                    "max": 50,
                    "step": 1,
                    "unit": "t:sections.footer.settings.footer_bottom.pdtop_footer_bottom.unit",
                    "default": 1
                    },
                    {
                    "type": "range",
                    "id": "social_icon_margin_right",
                    "label": "t:sections.footer.settings.social_media_link.social_margin_left",
                    "min": 0,
                    "max": 50,
                    "step": 1,
                    "unit": "t:sections.footer.settings.footer_bottom.pdtop_footer_bottom.unit",
                    "default": 15
                    },
                    {
                    "id": "social_color",
                    "type": "color",
                    "label": "t:settings_schema.colors.settings.colors_name.color",
                    "default": "#282828"
                    },
                    {
                    "id": "social_border_color",
                    "type": "color",
                    "label": "t:settings_schema.colors.settings.colors_name.border_color",
                    "default": "#fff"
                    },
                    {
                    "id": "social_background_color",
                    "type": "color",
                    "label": "t:settings_schema.colors.settings.colors_name.background_color",
                    "default": "#fff"
                    },
                    {
                    "id": "social_background_color_gradient",
                    "type": "color_background",
                    "label": "t:settings_schema.colors.settings.colors_name.background_color_gradient"
                    },
                    {
                    "id": "social_color_hover",
                    "type": "color",
                    "label": "t:settings_schema.colors.settings.colors_name.color_hover",
                    "default": "#282828"
                    },
                    {
                    "id": "social_border_color_hover",
                    "type": "color",
                    "label": "t:settings_schema.colors.settings.colors_name.border_hover",
                    "default": "#fff"
                    },
                    {
                    "id": "social_background_color_hover",
                    "type": "color",
                    "label": "t:settings_schema.colors.settings.colors_name.background_hover",
                    "default": "#fff"
                    },
                    {
                    "id": "social_background_color_gradient_hover",
                    "type": "color_background",
                    "label": "t:settings_schema.colors.settings.colors_name.background_hover_gradient"
                    },
                    {
                    "id": "social_box_hover_color",
                    "type": "color",
                    "label": "t:sections.footer.settings.social_media_link.social_box_hover_color",
                    "default": "#fff"
                    }
                ]
                
            }
        ],
        "presets": [
        {
            "name": "as-detils"
        }
    ]
}
{% endschema %}